/* css des balises */
body{
  width: 99vw;
  max-width: 100vw;
  margin: 0; padding: 0;
  font-family: 'PT Sans', sans-serif;
}
h1{
  text-align: center;
  color: #0066ff;
}
h3{
  display: table;
  padding: 5px 10px;
  background-color: #0066ff;
  color: #ffffff;
}
h2{
  text-decoration: underline;
  text-transform: uppercase; 
}
table{
}
th{
  display: table;
}
/* fin des balises */
/* css des id */
#container{
  margin: 0px 80px;
  margin-bottom: 150px;
}
#answerEx1{
 
}

/* fin css des id */
/* css class */