:root {
  --blue: #007bff;
  --red: #dc3545;
  --orange: #f4623a;
  --green: #28a745;
  --success: #28a745;
}
body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
header.masthead {
  height: 100%;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 50%), url("../img/desk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.navbar{
  background-color: #80be86;
}
#navbar a{
  color: white;
}
#navbarResponsive a{
 color: white;
 text-decoration: none;
 background-color: transparent;
 border-bottom: 1px solid transparent;
}

#navbarResponsive a:hover {
  border-bottom: 1px solid white;
}
#btnScrollRegister{
  padding: 10px 25px;
  border: 2px solid #28a74580;
  border-radius: 20px;
  background-color: #28a74580;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#btnScrollRegister:hover{
  background-color: #28a745;
}
section#patient {
  height: 100%;
  padding-top: 4rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 50%), url("../img/desk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#patient{
}
#containerPatient{
}
form{
  color: white;
  margin-top: 50px;
  padding: 35px 45px;
  border-radius: 10px;
  background-color: #80be8680;
}
input{
  color: black;
  font-weight: bolder;
}
.feedback{
  padding: 1px 15px 1px 10px;
  display: table;
  background-color: #ffffff80;
  font-weight: bold;
}
legend{
  font-size: 1.3rm;
  font-weight: bold;
}
small{
  color: #cccccc;
}
label{
  margin-top: 15px;
}